body,
p,
a,
div,
span {
  font-family: "Fahkwang", sans-serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Fahkwang";
  src: url("../assets/fonts/NunitoSans/NunitoSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.code-filename {
  position: absolute;
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}
